#hover-trigger-zone {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px; 
    height: 60px;
    z-index: 2147483646; 
    background: rgba(255, 252, 225, 0.5); 
    border-bottom-left-radius: 15px;
    box-shadow: 0 0 10px rgba(129, 128, 79, 0.8);
    transition: background 0.3s ease;
    cursor: pointer;
}

#hover-trigger-zone:hover {
    background: rgba(60, 109, 148, 0.8);
}

#hover-slide-container {
    position: fixed;
    width: 50vw;     
    height: 85vh;    
    top: -90vh;
    right: 0; 
    background: #313338; 
    box-shadow: -5px 0px 25px rgba(0,0,0,0.5);
    z-index: 2147483647;
    transition: top 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 0 0 0 15px; 
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#hover-slide-container.active {
    top: 0;
}

.drawer-header {
    background: #232428; 
    color: #ffffff;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #1e1f22;
}

#drawer-iframe {
    width: 100% !important;
    height: 100% !important;
    border: none;
    flex-grow: 1;
}